.avatar-large {
  width: 200px;
  border-radius: 50%;
}

.avatar-small {
  width: 200px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.avatar-large:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
