.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
  border-radius: 2px;
  text-decoration: none;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
      color: white;
  }
}

.card-remove-link {
  color: white;
  position: absolute;
  top: 0px;
  right: 22px;
  transform: rotate(45deg);
  text-decoration: none;
  &:hover{
    color: red;
  }
}
