// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "footer";
@import "card-category";
@import "map";

.container {
  h1 {
    text-align: center;
    color: #417d95;
  }
}

.index-card {
  background-color: white;
}

.title {
  text-align: center;
  color: #417d95
}

.bike {
  width: 100%;
  background-size: cover;
}

.card-body {
   a {
  text-decoration: none;
  color: black;
  border-radius: 0%;
  }
}

.card-title {
  h4 {
    text-align: center;
  }
}
